@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: linear-gradient(135deg,#310441, #331476, #29073f,#1e0251); /* sanfter Übergang von Blau zu Violett */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}


  